* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0a1628;
    user-select: none;
    -webkit-user-select: none;
}

#game-canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    touch-action: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
